
<div class="col-md-6">
     <!-- <a href="" class="btn btn-primary" (click)="syncronize()">Sync</a> -->
    <h2>Listados de Notas</h2>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let x of my_notes" (click)="viewNote(x)">{{ x.id}} {{x.title}}</li>
    </ul>
    <button type="button" class="btn btn-primary btn-block" (click)="addNote()">Nueva Nota</button>
</div>
<div class="col-md-6" *ngIf="show_form">
    <h2>Nueva Nota</h2>
    <input type="text" class="form-control" placeholder="Titulo de Nota" [(ngModel)]="note.title">
    <br>
    <textarea class="form-control" placeholder="Cuerpo de la Nota" [(ngModel)]="note.description"></textarea>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="btn btn-danger btn-block" (click)="removeNotes()" *ngIf="editing">Delete</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-default btn-block" (click)="cancel()">Cancel</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-block" (click)="createNote()">Guardar Nota</a>
        </div>
    </div>
</div>